.custom-table {
    width: 100%;
    padding: 8px 10px;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .custom-table th, .custom-table td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .nested-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .nested-table th, .nested-table td {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .color-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }
  
  